body{
  margin: 0px;
  font-family: Papyrus;
}
.container{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1'   xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440'     height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(248%2c 237%2c 212%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c35 C 57.6%2c79.6 172.8%2c251 288%2c258 C 403.2%2c265 460.8%2c84.4 576%2c70 C 691.2%2c55.6 748.8%2c191.2 864%2c186 C 979.2%2c180.8 1036.8%2c29.6 1152%2c44 C 1267.2%2c58.4 1382.4%2c215.2 1440%2c258L1440 560L0 560z' fill='rgba(255%2c 212%2c 115%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c348 C 96%2c385.8 288%2c545 480%2c537 C 672%2c529 768%2c322.2 960%2c308 C 1152%2c293.8 1344%2c434.4 1440%2c466L1440 560L0 560z' fill='rgba(255%2c 234%2c 188%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}
.header{
  padding-right:100px;
  padding-left:100px;
  display:flex;
  height: 150px;
  border-bottom: 5px solid #ccc;;
  justify-content: space-between;
  align-items: center;
  background-color:  #FFEABC;
  
}
.header__front{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: Papyrus;
/*    border: 1px solid red; */
}
.header__front img{
  height: 80px;
  justify-content: center;
  align-items: center;
/*   border: 1px solid red; */
}
h1{
  font-size: 40px;
  font-weight: 900;
  font-family: Papyrus;
}
.header__middle{
  display:flex;
  justify-content: space-between;
  align-items: center;
/*   border: 1px solid red; */
  list-style: none;
  gap: 20px;
}
.header--font{
   font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: Papyrus;
}
.header_front li a{
  text-decoration: none;
  color: black;
  
}
.header__rear{
  display:flex;
  justify-content: center;
  align-items: center;
/*   border: 1px solid red; */
  list-style: none;
   gap: 10px;
  
}
.header__rear button {
  border : 1px solid #ccc;
  border-radius: 70px;
  background-color: #FFEABC;
  height: 50px;
  width: 150px;
  cursor: pointer;
  display: block;
  font-family: Papyrus;
  font-size: 20px;
  font-weight: bold;
}
/* Style The Dropdown Button */
.dropbtn {
  background-color: #FFEABC;
  border: none;
  cursor: pointer;
  color: black;
  display: flex;
  font-family: Papyrus;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  justify-content:center;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  
  z-index: 1;
}
/* Links inside the dropdown */
 a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-family: Papyrus;
  justify-content: center;
  align-items: center;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}
.btn__hover:hover{
  background-color: #f1f1f1;
}
/*//////////////////////////Content/////////////////////////*/
.content{
  display: flex;
  height: 800px;
  
}
.content__adv{
  width:50%;
  padding-top: 90px;
  display: flex;
  flex-direction:column;
/*  border: 1px solid red;  */
  

}
.content_adv--font{
  color: black;
  font-size: 20px;
  font-family: Papyrus;
  font-weight: bold;
  
}
.content__adv img{
/*   border: 1px solid red; */
  height:100px;
  width:100px;
  padding-left:100px;
}
.content__adv h1{
/*   border: 1px solid red; */
  font-size: 60px;
  margin:0;
  margin-bottom:50px;
  padding-left:100px;
}
.content__adv p {
/*   border: 1px solid red; */ 
padding-left:100px;
}
.content__adv ul {
  display:grid;
  grid-template-columns: repeat(2,4fr);
  grid-template-rows: repeat(2,4fr);
/*   border: 1px solid red; */
  margin:0;
  padding-left:100px;
}
.content__adv ul li {
  display:flex;
/*   border: 1px solid red; */
  list-style: none;
  margin:0;
  height: 60px;
  width:100%;
  align-items:center;

}
.serchbar{
  display: flex;
  border : 1px solid #ccc;
  margin-top:60px;
  margin-left:170px;
  margin-right:162px;
  background-color: white;  
  border-radius: 70px;
  justify-content: space-between;
  
 
}
.serchbar__input{
  margin: 0px;
  height:50px;
  width:300px;
   border-radius: 70px;
  border: none;
  padding-left:10px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: Papyrus;
  cursor: pointer;
}
.serchbar__input{
  border:none;
}
.serchbar__button{
  margin: 0px;
  height:50px;
  width:150px;
  border-radius: 70px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: Papyrus;
  cursor: pointer;
  background-color:#f8edd4;
  justify-content:end;
}
.serchbar__button:hover{
   background-color:#f1f1f1;
}
.content__promote{
/*  border: 1px solid red;   */
 width:50%;
}
.slides__container {
  max-width: 1000px;
  position: relative;
  margin-top: 100px;
/*   border: 1px solid red;  */
}
.myslides{
  display:none;
}
.myslides img{
  vertical-align: middle;
  height: 600px;
  width: 100%;
}
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  font-weight: blod;
  font-size:50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: White;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.slides-text {
  color: #f2f2f2;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  font-weight: blod;
}
.pagenumb{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition:background-color  0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.footer{
    height: 300px;
   
}
